.product-option {
  width: 100%;
  height: 50%;
}

.extra-product-padding {
  padding: 10px;
}

.mode-option {
  width: 100%;
  height: 25px;
}

.product-page {
  width: 100%;
}

.modal-body-height {
  height: 23rem;
}

.td-height {
  height: 30px;
}

.coverage-box {
  background-color: #f7f9fb;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.left-border {
  border-left: 1px solid #dddbda;
}

.top-border-remove {
  border-top: var(--lwc-borderWidthThin, 1px) solid
    var(--lwc-colorBorder, white);
}

.mode-name {
  color: #1b96ff;
}

.remove-width {
  width: 0px;
}

.modes-badge {
  --sds-c-badge-line-height: 5px;
  --sds-c-badge-font-size: 9px;
}

.type-header {
  font-size: 9px;
}

.field-percent {
  width: 65px;
}

.field-currency {
  width: 80px;
}

.settlement-name {
  font-weight: 700;
  color: #1b96ff;
}

.settlement-row {
  background-color: #dddbda;
}

.product-option {
  width: 100%;
  height: 50%;
}

.field-label {
  font-size: 12px;
  font-weight: 600;
}

.field-style {
  text-align: center;
}

.badge-style {
  text-align: right;
}

.box-border-bottom {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #dddbda;
}

.table-data-center {
  text-align: center;
  width: 30%;
  padding: 2px;
}
