.pillSize {
    width: 100%
}

lightning-radio-group .slds-radio_faux {
    margin-right: 10px;
}

.slds-modal__content {
    overflow: initial;
}

.slds-pill {
    padding: 4px;
    width: 100%;
    line-height: 26px;
}

.slds-pill__label {
    max-width: none;
    width: calc(100% - 55px);
}

.slds-pill__remove {
    margin-right: 5px;
    margin-left: 0px;
}

.inputClass {
    line-height: var(--lwc-lineHeightButton, 1.875rem);
    min-height: calc(2.125rem + 2px);
}