.checklist-task {
  font-size: 15px;
  font-weight: 700;
  padding: 14px 10px;
}
.checklist-table {
  font-size: 10px;
  line-height: 25px;
}
.my-icon {
  --sds-c-icon-color-background: #126669;
  padding: 0.32rem;
}
.font-style {
  color: #126669;
}
.approval-badge {
  width: 80px;
  height: 20px;
}
.accBold:hover {
  text-decoration: underline;
  text-decoration: bold;
}
.checkBold:hover {
  text-decoration: underline;
  text-decoration: bold;
}
.needBold:hover {
  text-decoration: underline;
  text-decoration: bold;
}
